body{
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
    background-color: rgb(196, 231, 245);
}


header{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("back.jpg");
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;

}
header img{
    border-radius: 200px;
    width: 200px;
    border: 10px solid rgb(102, 180, 226);
    margin: 0;
}
header h1{
    color: rgb(34, 48, 240);
    font-size: 100px;
    font-family: 'Dela Gothic One', cursive;
    margin: 0;
    

}
main {
  max-width: 800px;
   margin: 0 auto;
   padding: 20px;
   background-color: rgb(240, 240, 184);
}
main h1{
    font-size: 80px;
    color: rgb(90, 88, 89);
    margin: 0;
}
.h{
   image-resolution: 100*100;
   
    
}
main span{
    
    font-size: 30px;
    font-family: 'Lexend Zetta', sans-serif;
    margin: 0;
}

main p{
    margin: 0;
    font-size: 35px;
    padding-left: 20px;
}

main li{
    font-size: 30px;
}

a{
    color: rgb(255, 0, 0);
}
a:hover{
    color: aqua;
}

footer{
    background-color: rgb(47, 114, 190);
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: rgb(94, 9, 13);
}
